* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom properties */
body {
  /* fonts */
  --font-heading: "Volkhov", serif;
  --font-text: "Montserrat", sans-serif;

  --font-small: calc(14px + 12 * (100vw - 320px) / 279);
  --font-medium: calc(16px + 14 * (100vw - 320px) / 279);
  --font-large: calc(32px + 28 * (100vw - 320px) / 279);
  --font-extra-large: calc(40px + 35 * (100vw - 320px) / 279);

  /* color */
  --clr-green: #06945b;
  --clr-green-light: rgb(132, 243, 183);
  --clr-orange: rgb(255, 198, 153);
  --clr-blue: #395be0;
  --clr-yellow: #fae053;
  --text-black: #000;
  --text-dark: #333;
  --text-light: #666;
}

body {
  font-family: var(--font-text);
  font-weight: 400;
  color: var(--text-black);
  font-size: var(--font-medium);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

h1 {
  font-size: var(--font-extra-large);
  line-height: 1.2em;
}

p {
  line-height: 1.75em;
}

/* layout/container */
.container {
  padding: 0rem 1.5rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* text utilities */
.font-600 {
  font-weight: 600;
}

.font-400 {
  font-weight: 400;
}

.font-sm {
  font-size: var(--font-small);
}

.font-md {
  font-size: var(--font-medium);
}

.font-lg {
  font-size: var(--font-large);
}

.font-xl {
  font-size: var(--font-extra-large);
}

.text-dark {
  color: var(--text-dark);
}

.text-light {
  color: var(--text-light);
}

.text-center {
  text-align: center;
}

/* spacing utilities */
.margin-top-xl {
  margin-top: 4.5rem;
}

.margin-top-lg {
  margin-top: 3.25rem;
}

.margin-top-md {
  margin-top: 2rem;
}

.margin-top-sm {
  margin-top: 1.5rem;
}

.margin-top-xs {
  margin-top: 0.85rem;
}

/* Button utilities */
.btn {
  width: 100%;
  border: 2px solid #000;
  color: var(--text-black);
  font-weight: 600;
  padding: 1.4rem 0rem;
  font-size: var(--font-small);
}

.border-radius-sm {
  border-radius: 20px;
}

.border-radius-lg {
  border-radius: 40px;
}

.bg-yellow {
  background-color: var(--clr-yellow);
}

.bg-green {
  background-color: var(--clr-green);
}

.bg-light-green {
  background-color: var(--clr-green-light);
}

.bg-orange {
  background-color: var(--clr-orange);
}

/* CSS */
.reviews {
  display: grid;
  grid-template-areas:
    "review-1 review-2"
    "review-3 review-3";
  gap: 3rem 2rem;
}

.review-1 {
  grid-area: review-1;
}

.review-2 {
  grid-area: review-2;
}

.review-3 {
  grid-area: review-3;
}

.review {
  align-items: center;
}

.review-img {
  max-width: 140px;
  margin: 0 auto;
}

.review-text {
  text-align: center;
}

.feature {
  padding: 0rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
}

.feature-image {
  width: 100%;
}

.testimonial {
  padding: 2.8rem 2.5rem;
}

.testimonial-profile {
  display: flex;
  align-items: center;
}

.testimonial-profile img {
  max-width: 50px;
  margin-right: 1.75rem;
}

footer {
  padding: 3rem;
  background-color: #111;
  color: white;
  text-align: center;
}
/* 
.grid {
  margin: 3rem 1rem;
  border: 3px solid #111;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.box {
  border-radius: 20px;
  display: grid;
  place-items: center;
}

.box-1 {
  background-color: red;
  grid-row: 2/6;
  grid-column: 1/6;
}

.box-2 {
  background-color: blue;
  grid-row: 1/5;
  grid-column: 6/11;
}

.box-5 {
  background-color: green;
  grid-row: 5/7;
  grid-column: 2/12;
} */
